.profile-image-container {
  display: inline-block;
  margin-bottom: 20px;
}

.rotating-image {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}